@charset "UTF-8";
/* 51p. ~ 71p. */

* {margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li {list-style: none;}
a {text-decoration: none;}

body {background-color: #bbf1ef;}

h1 {
    max-width: 800px;
    width: 80%;
    margin: 50px auto;
    padding: 10px ;
    border: 5px solid #fff;
    border-radius: 50px;
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
}

p img {border-radius: 50%;}

p {
    font-size: 30px; font-weight: 600; line-height: 1.25;
}

.p2 {margin-top: 20px;}

ul {
    max-width: 800px;
    width: 80%;
    margin: 40px auto 0;
}

ul li {
    background-color: #ff9a9e;
    border-radius: 10px;
    margin-bottom: 30px;
}

ul li a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}