@charset "UTF-8";

/* 
    어디의 {무엇을 : 어떻게; 무엇을 : 어떻게;}
    1. 어디의[선택자]
        1.* 2.마크업 3. .class 4.#id
*/

.box1 {
    border: 1px solid red; /* 테두리 : 두께 선종류 색상 */
}

.box2 {
    border-top: 1px solid blue;
    border-right: dotted 2px orange;
    border-bottom: double 3px red;
    border-left: dashed 4px black;
}

.box3 {
    border: 2px solid red;
    border-radius: 10px; /* 둥근 모서리 */
}

.box4 {
    border: 1px solid blue;
    padding: 10px; /* 안쪽 여백 */
    margin: 20px; /* 바깥쪽 여백 */
}

.box5 {
    border: 1px solid indianred;

    /* 안쪽 여백 */
    padding-top: 20px; /* 위쪽 안쪽 여백 */
    padding-right: 30px; /* 오른쪽 안쪽 여백 */
    padding-bottom: 40px; /* 아래쪽 안쪽 여백 */
    padding-left: 50px; /* 왼쪽 안쪽 여백 */

    /* 바깥쪽 여백 */
    margin-top: 50px; /* 위쪽 바깥 여백 */
    margin-right: 60px; /* 오른쪽 바깥 여백 */
    margin-bottom: 70px; /* 아래쪽 바깥 여백 */
    margin-left: 80px; /* 왼쪽 바깥 여백 */
}

.box6 {
    border: 1px solid skyblue;

    /* 위 오른쪽 아래쪽 왼쪽 의 안쪽 여백 */
    padding: 10px 20px 30px 40px;

    /* 위+아래 왼+오 의 안쪽 여백 */
    padding: 10px 20px;

    /* 위+오른+아래+왼쪽 의 안쪽 여뱍 */
    padding: 10px;

    /* 위 오른쪽 아래쪽 왼쪽 의 바깥쪽 여백 */
    margin: 10px 20px 30px 40px;

    /* 위+아래 왼+오 의 바깥쪽 여백 */
    margin: 10px 20px;

    /* 위+오+아래+왼 의 바깥쪽 여백 */
    margin: 10px;
}

.box7 {
    width: 200px; /* 가로 사이즈 */
    height: 200px; /* 세로 사이즈 */

    /* box-sizing: content-box; : 200 + 20 + 20 + 10 + 10 => 260px */ 
    /* box-sizing: border-box; : 200 => 200px : 가로 사이즈에 테두리와 안쪽여백 포함된 사이즈 */ 
    box-sizing: border-box;
    padding: 20px;
    border: 10px solid red;

    /* 내용(content) 가운데 정렬 */
    text-align: center;

    /* 박스(box) 가운데 정렬 */
    margin: 0 auto; /* 가로 가운데 정렬 */
}

div {
    border: 1px solid red;
    margin: 20px;
    background-color: aquamarine;
}

span {
    background-color: orange;
}

.s1 {
    display: inline; /* 인라인 : span 기본 값 */
    width: 200px; height: 200px; /* 가로, 세로 사이즈 적용불가 */
}

.s2 {
    display: block; /* 블록으로 바꾸기 */
    width: 200px; height: 200px; /* 가로, 세로 사이즈 적용가능 */
}

.s3 {
    display: inline-block; /* 인라인-블록 */
    width: 200px; height: 200px; /* 가로, 세로 사이즈 적용가능 */
}

.s4 {
    display: none; /* 숨기기 */
    width: 200px; height: 200px;
}

.d1 {
    display: inline;
    width: 200px; height: 200px;
}

.d2 {
    display: block;
    width: 200px; height: 200px;
}

.d3 {
    display: inline-block;
    width: 200px; height: 200px;
}

.d4 {
    display: none;
    width: 200px; height: 200px;
}