@charset "UTF-8";

#header {
    display: flex;
    background-color: salmon;
    z-index: 2;
    position: sticky; /* 해당요소가 사라질떄 위치고정 */
    top: 0;
}

#header ul li {display: inline-block;}

#popup {
    background-color: saddlebrown;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 1;
}

.boxWrap {
    width: 700px;
    height: 450px;
    background-color: aquamarine;
    margin: 0 auto;
    position: relative;
}

.boxWrap .box {
    width: 100px; height: 50px;
    background-color: sandybrown;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    top: 100px;
    left: 300px;
}

.box2 {
    left: 100px;
    top: 150px;
}

.box3 {
    right: 100px;
    top: 150px;
}

.box4 {
    left: 100px;
    bottom: 150px;
}

.box5 {
    right: 100px;
    bottom: 150px;
}

.box6 {
    bottom: 100px;
    left: 300px;
}