@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 css */
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'MaplestoryOTFBold';
    font-weight: 300;
}

/* 전체구역 */
#wrap {width: 300px; margin: 0 auto;}
#wrap > h1 {font-size: 2.5em; text-align: center; font-weight: 700; color: sandybrown;}

#todoTop {display: flex; height: 30px;  margin-bottom: 20px;}
#content {width: 250px; padding: 10px; border: none; outline: none;  border: 1px solid salmon; font-weight: 300;}
#todoTop input[type='button'] {background-color: rgba(0,0,0,0); border: none; border:1px solid salmon; cursor: pointer; transition: all 0.3s; width: 50px; border-left: 0; color: salmon; }
#todoTop input[type='button']:hover {background-color: rgb(250, 114, 114); color: #fff;}

/* 출력 구역 */
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin: 20px 1px;
    padding:  5px 10px;
    background-color: rgba(250,128,114,0.5);
}

.todo .content {
    font-size: 16px;
}

.todo .btnBox input {
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 18px;
}

.todo .btnBox input:hover {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.success {background-color: #fff;}
.success > .content {text-decoration: line-through;}