input[type=checkbox] + label {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/checkbox_unchecked.png);
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: top;
}

input[type=checkbox] + label + label {
  margin-right: 1.25rem;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #888;
  vertical-align: top;
}

input[type=checkbox]:checked + label {
  background-image: url(../images/checkbox_checked.png);
}

/* ============================== /_inc/top.php ============================== */
header > div .header-left a{position: relative; z-index: 10;}
header > div .header-right{display: inline-block; text-align: center; vertical-align: middle; float: right;}
header > div .header-right a{display: block; position: relative; height: 6.25rem; padding-right: 1.25rem; background: url(/images/ico_link.png) center right no-repeat; line-height: 6.25rem; font-size: 0.875rem; color: #636363; cursor: pointer; z-index : 10;}
header > div .header-center{display: inline-block; position: absolute; left:0; top:0;	width: 100%;  text-align: center;  vertical-align: middle;}
header > div .header-center ul {display: block;  width: 100%;  height: auto;}
header > div .header-center ul li {display: inline-block;  padding: 0 1.25rem;  height: auto;}
header > div .header-center ul li a {display: block;  width: 100%;  height: 6.25rem;  line-height: 6.25rem;  font-size: 1rem;  font-weight: 500;  color: #000;  cursor: pointer;}
header > div .header-center ul li:last-child a{background:url(/images/ico_book.png) no-repeat center right; padding-right:12px;}

/* ============================== index.php ============================== */
#container .main-slider-wrap .swiper-pagination{bottom:32px; left:50%; right:auto;}
#container .main-slider-wrap .swiper-pagination .swiper-pagination-bullet{width:8px; height:8px; margin:0 6px; opacity:1;}
#container .main-slider-wrap .swiper-pagination .swiper-pagination-bullet-active{width:40px; height:8px; border-radius:10px 10px; background-color:#de141e;}
#container.main section .main-middle-wrap .middle-slider a .middle-banner-bg{background-size:cover; height:90px;}
#container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box{height:650px;}

/* ============================== news_view.php ============================== */
#container.cate section .view .view-wrap .view-con.view-con-alt{width:70rem;}
#container.cate section .view .view-wrap .view-con.view-con-alt p{padding-top:4px; line-height:1.9rem;}
#container.cate section .view .view-wrap .view-con.view-con-alt b{font-weight:bold}

/* ============================== prebrand.php ============================== */
#container.cate section .brand>div .brand-lists>ul>li{position:relative; margin-right:1.5rem;}
#container.cate section .brand>div .brand-lists>ul>li .txt-box{text-align:right;}
#container.cate section .brand>div .brand-lists>ul>li .txt-box .logo-ico{text-align:left;}
#container.cate section .brand>div .brand-lists>ul>li .txt-box dl{text-align:left;}
#container.cate section .brand>div .brand-lists>ul>li .brand-home-move{position:absolute; left:0; top:0; width:100%; height:100%;}
#container.cate section .brand>div .brand-lists>ul>li .brand-home-move span{
	position: absolute;
	bottom: 1.125rem;
	right: 1rem;
	display: block;
	width: auto;
	height: 1.375rem;
	padding-left: 1.25rem;
	line-height: 1.5rem;
	font-size: .875rem;
	font-weight: 400;
	color: #777;
	background-image: url(../images/athome_ico.png);
	background-size: 0.875rem 0.875rem;
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.btn_top{position:fixed; right:9%; bottom:60px;}
@media all and (max-width:1450px){
	.btn_top{right:5%;}
}


/* ============================== news.php ============================== */
#container.cate section .news>div .news-lists>ul>li,
#container.cate section .news>div .media-lists>ul>li{margin-right:1.5rem;}
#container.cate section .news>div .news-lists>ul>li a .txt-box .news-title,
#container.cate section .news>div .media-lists>ul>li a .txt-box .media-title{
    max-height:3.5rem;
    min-height:3.5rem;
    padding-top: 0.75rem;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    white-space:normal;
    text-overflow:ellipsis;
}
#container.cate section .paginate a{line-height:2.9rem;}