input[type='password'] {
    padding: 5px 10px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin: 20px 0;
    padding: 10px;
}

input[type='file'] {
    width: 100%;
}

#fileImg {
    width: 100%;
    display: block;
    margin-top: 10px;
}

button {
    width: 100%;
    background-color: #111;
    color: #fff;
    border: 1px solid #888;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: sandybrown;
    border-color: sandybrown;
    color: #fff;
    font-weight: 700;
}